---
const { env: astroEnv } = Astro.locals.runtime;
console.log(astroEnv);
console.log(astroEnv.R2_BUCKET_DEV);
// const { results } = await astroEnv.R2_BUCKET_DEV
// const { results } = await astroEnv.OGP.prepare(
// 		  "SELECT * FROM ogp WHERE parameter == ? AND isBanned == 0;"
// 		)
// 			.bind(userId)
// 		  .all();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
	</body>
</html>
